[
    {
        "address": "0x...",
        "privateKey": "0x...",
        "newAddress": "0x...",
        "fireblocksVault": "Karmaverse-1",
        "status": "completed",
        "updatedAt": "2023-11-13T00:00:00.000"
    },
    {
        "address": "0x...",
        "privateKey": "0x...",
        "newAddress": "0x...",
        "fireblocksVault": "Karmaverse-2",
        "status": "pending",
        "updatedAt": ""
    }
]
